{% extends 'base.html' %}
{% load static %}
{% block title %}ABOUT {% endblock title %}
{% block body %}

<div class="about-us1">
    <div class="py-4 text-center text-white">
        <div class="container10">
        <h1 class="mb-3" style = "font-family: comic sans ms;">About Us</h1>
        <div style = "font-family: bookman old style;">
        We believe in the power of visual communication. <br>
        Our platform offers a seamless experience for <br>
        uploading, storing, and downloading images.<br>
        Whether you're a photographer, designer, or simply <br>
        someone who loves sharing pictures, we've got <br>
        you covered.
        </div>
        <br>
    </div></div>
    
</div>
{% endblock body %} 

