{% extends 'base.html' %}
{% load static %}
{% block title %}CONTACT {% endblock title %}
{% block body %}

<div class="contact-us1">
    <div class="py-4 text-center text-white">
        <div class="container11">
        <h1 class="mb-3" style = "font-family: comic sans ms;">Contact Us</h1>
        <div style = "font-family: bookman old style;">


           
            <i class="fa-solid fa-envelope"></i> vani.mittal@gmail.com 
            <br>

            <i class="fa-solid fa-phone"></i> +91 1234567809   
        </div>
        <br>
    </div></div>
    
</div>
{% endblock body %} 

